<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Edit Certificates</h4>
                        <p class="card-category">  Certificates Liste </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" >
                                <thead class=" text-primary" >
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                     Level
                                    </th>
                                    <th>
                                        Prix
                                    </th>
                                   
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                         
                                        </td>
                                        <td>
                                           
                                        </td>
                                        <td>
                                         
                                        </td>
                                        <td>
                                       
                                        </td>
                                        <td >
                                       
                                        </td>
                                     <td>

                              
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
                  
      
      
        </div>
    </div>
  </div>
  