<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Certificates Liste</h4>
                        <p class="card-category"> Edit Certificates  </p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" >
                                <thead class=" text-primary" >
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                     Level
                                    </th>
                                    <th>
                                        Prix
                                    </th>
                                   
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                         Python
                                        </td>
                                        <td>
                                         Expert
                                        </td>
                                        <td>
                                           1500
                                        </td>
                                       
                                       
                                     <td>

                                          <button mat-raised-button type="button" matTooltip="Remove"  class="btn btn-danger btn-link btn-sm btn-just-icon" >
                                              <i class="material-icons">close</i>
                                          </button>
                                          <button mat-raised-button type="button" matTooltip="Edit"  class="btn btn-primary btn-link btn-sm btn-just-icon">
                                              <i class="material-icons" >edit</i>
                                          </button>
                                      </td>
                              
                                    </tr>
                                    
                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            
                  
      
      
        </div>
    </div>
  </div>
  