
<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title">Add Certificates</h4>
                        <p class="card-category">Certificates  details </p>
                    </div>
                    <div class="card-body">
                        <form >
                            <div class="row">
                                
                                
                                <div class="col-md-4">
                                    <mat-form-field class="example-full-width">
                                      <input matInput placeholder="Title" type="text" >
                                    </mat-form-field>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Level" type="text" >
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="example-full-width">
                                    <input matInput placeholder=" prix " type="number" >
                                  </mat-form-field>
                                </div>
                            </div>
                           
                               
                                
                            
                             
                            <button mat-raised-button type="button" class="btn btn-primary pull-right" type="submit" >Add Certificates</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>
                </div>
            </div>
           
    </div>
  </div>
  